/**
 * Standard Thore͛gon themes to be used
 *
 * @author: blukassen
 */

@import url('https://fonts.googleapis.com/css?family=Caveat:400,700|Didact+Gothic|IBM+Plex+Serif:200,400,600|Rubik+Mono+One|Rubik:300,400,500|Source+Sans+Pro:200,300,400,700,900&display=swap');

/* Theme Thore͛gon 1 */
.t1 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    line-height: 1.2;
    padding: 10px 10px;
}

div.t1 {
    background: white;
    color: black;
}

/* Theme Thore͛gon 2 */
.t2 {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    padding: 10px 10px;
}
div.t2 {
    background-color: rgb(248, 253, 255)
}
.t2 h1,.t2 h2,.t2 h3,.t2 h4 { font-family: Rubik, Arial, sans-serif; text-transform: uppercase; font-weight: 400; }
.t2 h1 { font-weight: 600; }
.t2 .headlike { font-family: Rubik, Arial, sans-serif; text-transform: uppercase; font-weight: 400; font-size: 1em; }

/* Theme Thore͛gon 3 */
.t3 {
    font-family: "Didact Gothic", Arial, sans-serif;
    font-weight: 200;
    line-height: 1.2;
    padding: 10px 10px;
}
div.t3 {
    background-color: rgb(248, 253, 255)
}

.t3 h1,.t3 h2,.t3 h3,.t3 h4 { font-family: "IBM Plex Serif", Arial, sans-serif; text-transform: lowercase; font-weight: 600; }
.t3 .headlike { font-family: "IBM Plex Serif", Arial, sans-serif; text-transform: lowercase; font-weight: 600; font-size: 1em; }

/* Theme  Thore͛gon 1 Dark */

div.tdark {
    color: rgb(211, 211, 211);
}

div.tdark1 {
    background: rgb(20,22,30);
}
div.tdark2 {
    background: rgb(32,32,32);
}
div.tdark3 {
    background: rgb(34,36,40);
}

.tdark .badge { color: rgb(164, 164, 164); border-color: rgb(164, 164, 164); }
.tdark .attention { color: rgb(251,199,95); }
.tdark .hint { color: rgb(127, 194, 0); }
.tdark .ref { color: rgb(64, 168, 252); }
.tdark .note { color: rgb(128, 129, 128); }
.tdark .handle { color: rgb(249, 117, 105); }
.tdark .restricted { color: rgb(185, 95, 95); }
.tdark .broken { color: rgb(107, 108, 107); }
.tdark .ref2 { color: rgb(53,173,182); }
